html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #2a363b;
  background-color: #f9f9f9ff;
}
#mainTable {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
}
tr, tbody {
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
}
#main {
  vertical-align: top;
  height: 500px;
  width: 75%;
  padding: 10px;
  background-color: #f9f9f9ff;
}
#aside {
  height: 680px;
  width: 25%;
  background-color: #FFFFFF;
  text-align: center;
  vertical-align: top;
  padding: 10px;
}
#addNew {
  float: right;
  height: 55px;
  width: 155px;
  border: 0px;
  font-size: 20px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  line-height: 0.25em;
  padding-top: 1px;
  text-align: right;
  color: #2a363b;
  margin-top: 10px;
  margin-right: 10px;
}
#timeLeft {
  display: inline-block;
  padding-right: 20px;
  padding-top: 23px;
  font-size: 25px;
}
#showTime {
  align-items: center;
  vertical-align: center;
  float: right;
}
h2 {
  font-weight: lighter;
  margin-top: 40px;
  font-size: 25px;
}
#new {
  display: inline-block;
  align-content: center;
}
#container {
  margin-top: 125px;
  padding-bottom: 400px;
}
.school {
  background-color: #F46060;
}
.social {
  background-color: #F3D179;
}
.work {
  background-color: #DCE8BA;
}
.chores {
  background-color: #F09872;
}

.entry {
  color: white;
  margin-bottom: 20px;
  margin-left: 100px;
  width: 700px;
  height: 50px;
  padding: 0px;
  padding-left: 20px;
  padding-top: 25px;
  align-content: center;
  align-items: center;
  font-size: 20px;
}

#name {
  width: 220px;
  margin-top: 3px;
  text-align: left;
  float: left;
  margin-right: 300px;
}
.time {
  display: inline-block;
  text-align: right;
  margin-top: 3px;
  float: center;
}
.barButton {
  margin-top: 0px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 0.25em;
  background-color: #ffffff;
  border: 0px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  float: right;
  margin-right: 10px;
}
.btn {
  margin-right: 10px;
  float: right;
}

#loginBox {
  margin-top: 175px;
  margin-left: 100px;
  width: 680px;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 0px;
  height: 310px;
  align-items: center;
  margin-bottom: 0px;
}
#nameBox, #timeBox {
  text-align: left;
  width: 300px;
  font-size: 20px;
}
input {
  height: 30px;
  background-color: #f9f9f9ff;
  border: 0px;
  padding: 2px;
  padding-left: 5px;
  font-size: 20px;
}
select {
  height: 40px;
  background-color: #f9f9f9ff;
  border: 0px;
  padding: 10px;
  width: 307px;
  font-size: 20px;
}
#submit {
  background-color: #F46060;
  border: 0px;
  padding: 10px;
  padding-left: 5px;
  width: 307px;
  font-size: 20px;
  color: #ffffff;
}
a {
  text-decoration: none;
}
p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
#schoolHours {
  padding-left: 10px;
  font-size: 16px;
  text-align: left;
  font-weight: lighter;
  color: #F46060;
}
#workHours {
  padding-left: 10px;
  font-size: 16px;
  text-align: left;
  font-weight: lighter;
  color: #DCE8BA;
}
#socialHours {
  padding-left: 10px;
  font-size: 16px;
  text-align: left;
  font-weight: lighter;
  color: #F3D179;
}
#choresHours {
  padding-left: 10px;
  font-size: 16px;
  text-align: left;
  font-weight: lighter;
  color: #F09872;
}
form {
  background-color: #ffffff;
  width: 350px;
  height: 200px;
  text-align: center;
  padding-top: 30px;
}
#formButton {
  background-color: #F46060;
  border: 0px;
  padding: 10px;
  padding-left: 5px;
  width: 307px;
  font-size: 20px;
  color: #ffffff;
  height: 45px;
}
.formInput {
  background-color: #f9f9f9ff;
  border: 0px;
  padding-left: 5px;
  width: 302px;
  font-size: 20px;
  margin-bottom: 10px;
  height: 45px;
}
canvas {
  max-height: 250px;
  max-width: 250px;
}
.noHover{
    pointer-events: none;
}
#motivate {
  color: #000000;
  font-weight: lighter;
  font-size: 12px;
}
