* {
  text-align: center;
}
button {
  background-color: #C06C84;
  color: #f2f2f2;
  border: 1px solid #C06C84;
  height: 25px;
  font-size: 15px;
}
body {
  color:  #C06C84;
  background-color:  #f2f2f2;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
#header {
    background-color:  #C06C84;
    color: #f2f2f2;
    margin: 0px;
    padding: 5px;
    height: 25px;
    text-align: left;
    font-size: 19px;
}
html, body {
    margin: 0;
    padding: 0;
    color: #6C5B7B;
}
#map {
  height: 600px;
margin-left: 100px;}
.information {
  background-color:  #f2f2f2;
  border: 1px solid #6C5B7B;
  color: #6C5B7B;
  margin: 10px;
  padding: 5px;
  width: 300px;
  height: 330px;
  float: left;s
}
.leftSide {
  float: left;
}
.rightSide {
  float: right;
}
#logOutButton, #newAccount, #newOrg, #manageOrg, #newProtest, #searchGuardian, #volunteer {
  float: right;
  margin: 1px;
  font-size: 12px;
  font-weight: bold;
}
input {
  background-color:  #f2f2f2;
  border: 1px solid #6C5B7B;
  color: #6C5B7B;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
#loginButton {
  background-color:  #C06C84;
  color: #f2f2f2;
  border: 1px solid #C06C84;
  height: 25px;
  margin: 5px;
}
.p, #intro {
  padding-left: 25%;
  padding-bottom: 5%;
  width: 50%;
}
.title {
  font-size: 40px;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
}
.inputs {
  width: 50%;
  height: 25%;
  padding-left: 25%;
}
#homeButton {
  float: left;
  margin: 1px;
  font-size: 12px;
}
#contain {
  width: 80%;
  padding-left: 10%;
}
#map {
  padding-right: 10%
}
